<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms timeout="20" path="/"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors defaultRedirect="~/ErrorPage.aspx" />
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

  <!--<location path="principal">
    <system.web>
      <authorization>
        <allow roles="principal"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="student">
    <system.web></system.web>
  </location>-->

</configuration>
